<%- include("header"); %>

<div class="spacing container d-flex w-300 h-300 p-5 mx-auto justify-content-center">
    <form action="/login" method="POST" class="form-signin">
        <h1 class="display-3">Sign In Below</h1>
        <input name="email" type="email" class="form-control" placeholder="Email">
        <input name="password" type="password" class="form-control" placeholder="Password">
        <p class="mt-3 lead d-flex justify-content-center">
            <button class="btn btn-lg btn btn-success fw-bold" type="submit">Log In</button>
        </p>
    </form>
</div>

<%- include("footer"); %>