<%- include("header"); %>

<div class="spacing container d-flex w-300 h-300 p-5 mx-auto justify-content-center">
    <form action="/signup" method="POST" class="form-signin">
        <h1 class="display-3">Sign Up Below</h1>
        <input type="name" id="emailInput" class="form-control" placeholder="Name">
        <input type="email" id="emailInput" class="form-control" placeholder="Email">
        <input type="password" id="passwordInput" class="form-control" placeholder="Password">
        <p class="mt-3 lead d-flex justify-content-center">
            <button class="btn btn-lg btn btn-primary fw-bold" type="submit">Sign Up</button>
        </p>
    </form>
</div>

<%- include("footer"); %>