<%- include("header"); %>

<div class="spacing container d-flex p-5 mx-auto justify-content-center">
    <main class="px-3">
        <h1 class="display-1 d-flex justify-content-center">Submit Your Secret/Story Below!</h1>
        <form action="/submitwhiisper" method="POST" class="p-3 form-signin">
            <input name="whiisper" type="whiisper" class="form-control form-control-lg" placeholder="Type Your Secret/Story Here">
            <p class="mt-3 lead d-flex justify-content-center">
                <a style="color: white;" href="/whiisper" class="mx-1 btn btn-lg btn btn-info fw-bold">Back</a>
                <a class="mx-1 btn btn-lg btn btn-success fw-bold" type="submit">Submit</a>
            </p>
        </form>
    </main>
</div>

<%- include("footer"); %>