<%- include("header"); %>

<div class="container d-flex p-5 mx-auto justify-content-center">
    <main class="px-3">
        <h1 class="display-1 d-flex justify-content-center">Welcome!</h1>
        <p class="mt-3 lead">---------><span style="font-weight: bold;">Don't worry!</span> Your Name/Information Will Not Be Shared With Other Users</p>
        <p class="mt-3 lead">--------->All Secrets/Stories Submitted By Other Users And Yourself Are Shown Below</p>
        <p class="mt-3 lead">--------->So Click The <mark style="background-color: rgb(92, 184, 92); font-weight: bold;">"Submit Whisper"</mark> Button Below, And Share Your Secrets/Stories, <span style="font-weight: bold;">Anonymously!</span></p>
        <hr>
        <p class="mt-3 lead d-flex justify-content-center">
            <a href="/logout" class="mx-1 btn btn-lg btn btn-dark fw-bold">Log Out</a>
            <a href="/submitwhiisper" class="mx-1 btn btn-lg btn btn-success fw-bold">Submit Whisper</a>
        </p>
        <hr>
        <% whispers.map(function(whisper) { %>
            <p class="mt-3 d-flex justify-content-center" style="background-color: lightblue; font-size: larger;"><%=whisper.whisper%></p>
        <% }) %>
    </main>
</div>

<%- include("footer"); %>